* {
    font-family: 'monospace', Courier;  }

body { 
    margin:0;
    background-color: #1f2937;
    }

#container {
    border: 20px solid rgb(168, 0, 0);
    display: grid;
    grid-template-columns: repeat(100, auto);
    grid-template-rows: repeat(100, auto);
    width: 75vmin;
    height: 75vmin;
    margin: 0 auto;
    }

.newDiv {
    text-align: center;
    border: .1px solid rgb(182, 182, 182);
    font-size: xx-small;
    background-color: rgb(201, 201, 201);
    }

  h1 {
    font-size: 5vmin;
    text-align: center;
    color: rgb(182, 182, 182);
    }